:root {
  --header-height: 10.1rem;

  /*========== Colors ==========*/
  --primary-color: #0058e0;
  --secondary-color: #ff741a;

  --white: #fff;

  --text-color: #3c445a;
  --text-color-1: #152760;
  --text-color-2: #505050;
}
