.contact {
  margin-bottom: 10rem;

  .grid {
    grid-template-columns: 1fr 1.35fr;
  }

  .heading-primary {
    margin-bottom: 4.5rem;
    line-height: 1;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 33rem;
  }

  &__list {
    display: flex;
    gap: 2rem;
  }

  &__icon {
    font-size: 2rem;
    color: var(--secondary-color);
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    font-weight: 600;
    color: var(--text-color-1);
  }

  &__address {
    color: var(--text-color-2);
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas:
      "i1 i2"
      "i3 i4"
      "t t"
      "b1 b2";
    gap: 2rem;

    input:nth-child(1) {
      grid-area: i1;
    }
    input:nth-child(2) {
      grid-area: i2;
    }
    input:nth-child(3) {
      grid-area: i3;
    }
    input:nth-child(4) {
      grid-area: i4;
    }
  }
}
