@use "../util" as *;

.header {
  width: 100%;
  padding: 2.8rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 5.5rem;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    position: relative;
  }

  &__nav-link {
    font-weight: 600;
    color: #313131;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__icon {
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
  }

  .btn {
    padding: 1.3rem 2rem;
  }

  &__search-box {
    display: none;
    position: absolute;
    z-index: 10;
    top: 11rem;
    right: 7%;
    width: 35rem;
    height: 6rem;
    line-height: 6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    border-radius: 5px;
    transition: all 0.3s;

    input[type="text"] {
      flex: 1;
      height: 100%;
      padding: 0.5rem 1rem;
      border: 1px solid var(--primary-color);
    }

    input[type="button"] {
      color: var(--white);
      font-size: var(--normal-font-size);
      font-weight: 700;
      background-color: var(--primary-color);
      padding: 0.5rem 1rem;
      cursor: pointer;
      &:hover {
        // filter: brightness(95%);
        background-color: #002c70;
      }
    }
  }
}

.showSearch {
  display: flex;
}

// MOBILE
.nav-menu {
  font-size: 3rem;
  cursor: pointer;
  color: var(--primary-color);
  display: none;
}

.nav-close {
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
  position: absolute;
  top: 4rem;
  right: 4rem;
  display: none;
}

.showNav {
  transform: translateY(0%) !important;
}

// Sticky Navigation
.sticky {
  max-height: 9.6rem;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0px 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
